<mat-card class="mb-2">
  <label  class="col-sm-12 p-0 mb-3"><strong>1</strong>.&nbsp;What is the name of the official taking part in the assessment?</label>
  <mat-form-field class="example-full-width col-sm-6 p-0">
    <input [disabled]="isDisabled" matInput #message placeholder="Enter details here..." (change)="clickOfficialName($event)" [(ngModel)]="officialName.text_data" value="" />
  </mat-form-field>
</mat-card>
<mat-card class="mb-2">
  <label class="col-sm-12 p-0 mb-3"><strong>2</strong>.&nbsp;Designation of the official in the firm?</label>
  <mat-form-field class="example-full-width col-sm-6 p-0">
    <input [disabled]="isDisabled" matInput #message placeholder="Enter details here..." (change)="clickOfficialDesignation($event)" [(ngModel)]="officialDesignation.text_data" value="" />
  </mat-form-field>
</mat-card>