<p *ngIf="!connected">Dailling {{ userToBeDialed.name }}</p>

<div *ngIf="connected" class="conToggle">
  <p class="alert-success text-left">
    Call is now connected with {{ userToBeDialed.user_name }}
  </p>

  <button (click)="endSession()" class="btn btn-danger" >
    <i aria-hidden="true" class="fa fa-phone " ></i>
  </button>
  <button (click)="cycleVideo()" class="btn btn-danger" style="margin-top:20px">
    <i aria-hidden="true" class="fa fa-refresh " ></i>
  </button>
</div>

<br />

<div *ngIf="checkForExistingSession()">
  <webcam [height]="250"></webcam>
</div>
<div *ngIf="session">
  <app-publisher
    [session]="session"
    [alreadyPublishing]="alreadyPublishing"
  ></app-publisher>
  <app-subscriber
    *ngFor="let stream of streams"
    [stream]="stream"
    [session]="session"
  ></app-subscriber>
</div>
