
<div *ngIf="displayLiveAssesment" >

  <div class="liveAssesmentStrip row align-items-center">
    <h4 class="live-assesment col-9 ">
      <span class="animated infinite pulse live-assesment-danger"></span> Live
      Assesment
    </h4>
    <div class="col-3 text-right">
      <button class="btn btn-primary refresh">
        <i
        class="fa fa-refresh rotateIn animated infinite"
        aria-hidden="true"
        (click)=refreshData()

        ></i>
      </button>
      &nbsp;
      &nbsp;
      <button class="btn btn-primary refresh">
        <i
        class="fa fa-play"
        aria-hidden="true"
        (click)=getVendorFeed()

        ></i>
      </button>

    </div>
  </div>

  <div class="tableContainer table-responsive">
    <table class="table table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th  width="190px" *ngFor="let head of tableHeader" [attr.colspan]="head.colspan">
            {{ head.data }}
          </th>
        </tr>

        <tr>
          <th width="90px" *ngFor="let header of tableSubHeaders" title="{{ header.name }}">
            {{ trimTableHeader(header.name) }}
          </th>
        </tr>

        <tr *ngFor="let rd of tableResponse">
          <td  width="90px" *ngFor="let response of rd.responseData">
            <span *ngFor="let data of response.data">
              <span *ngIf="data.type === 'text'">
                {{ data.value }}
              </span>

              <span *ngIf="data.type === 'image'">
                <div style="margin:2px; margin-right:0px; margin-left:0px">
                  <img  class="zoom" src="{{ data.src }}" alt="" width="80px" height="100px" />
                </div>
              </span>
            </span>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

</div>

<div *ngIf="!displayLiveAssesment" >
  <h4>Live preview not available</h4>
</div>
