<div class="pl-2 pr-2">
  <div class="row mt-4">
    <div class="col mt-3">
      <mat-form-field class="col-sm-5">
        <mat-label>Select parameter</mat-label>
        <mat-select [(value)]="parameters" (selectionChange)="checkAndUpdate(parameters)"><!--*ngFor="let parameter of para_array"-->
          <mat-option>None</mat-option>
          <mat-option value="physical_location">Physical Location</mat-option>
          <mat-option value="production_capability">Production Capability</mat-option>
          <mat-option value="quality">Quality</mat-option>
          <mat-option value="transportation">Transportation</mat-option>
          <mat-option value="suppliers">Suppliers</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="" *ngIf="showSubQuestions">
        <mat-card class="mb-2" *ngFor="let subques of subquestions; let i = index">
          <label id="example-radio-group-label" class="col-sm-12 p-0"><strong>{{i+1}}</strong>.&nbsp;{{subques.question}}</label>
          <div *ngIf="subques.radio == 'Yes'">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button class="example-radio-button mr-3 ml-3" *ngFor="let condition of conditions" [value]="condition" (change)="saveRadioWithSubQues(subques.id, $event)">
                {{condition}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- <div *ngIf="!subques.radio == 'Yes'">
            
          </div> -->
        </mat-card>
      </div>
      <div *ngIf="!showSubQuestions">
        <mat-card>
          <h5 class="p-5 text-muted">No parameters is seleted. Please select parameter from above options.</h5>
        </mat-card>
      </div>
      <!-- <mat-card class="mb-2" *ngFor="let form of forms; let i = index" (click)="formQuestions(i)">
        <p>Form:{{form.project_name}}</p>
        <p><strong>questions</strong>:{{form.questions}}</p>
      </mat-card> -->
    </div>
  </div>
</div>