<div class="container">
  <ul class="list-group row">
    <li class="list-group-item col">
      <div class="seperate">
        <a href="" class="float-left phone-no">9711731937</a>
      </div>
      <div class="seperate text-right">
        <span class="call" mat-raised-button (click)="openBottomSheet()"
          ><i class="fa fa-phone " aria-hidden="true"></i
        ></span>
      </div>
    </li>
    <li class="list-group-item col">
      <div class="seperate">
        <a href="" class="float-left phone-no">9711731937</a>
      </div>
      <div class="seperate text-right">
        <span class="call"
          ><i class="fa fa-phone " aria-hidden="true"></i
        ></span>
      </div>
    </li>
    <li class="list-group-item col">
      <div class="seperate">
        <a href="" class="float-left phone-no">9711731937</a>
      </div>
      <div class="seperate text-right">
        <span class="call"
          ><i class="fa fa-phone " aria-hidden="true"></i
        ></span>
      </div>
    </li>
    <li class="list-group-item col">
      <div class="seperate">
        <a href="" class="float-left phone-no">9711731937</a>
      </div>
      <div class="seperate text-right">
        <span class="call"
          ><i class="fa fa-phone " aria-hidden="true"></i
        ></span>
      </div>
    </li>
  </ul>
</div>
