<main class="container">
  <div class="container">
    <div *ngIf="!dialUser">
      <ul class="list-group " *ngFor="let chatUser of chatUsers">
        <li class="list-group-item  row">
          <div class="seperate col-6">
            <strong
              ><a class="float-left phone-no">{{
                chatUser.user_name
              }}</a></strong
            >
          </div>
          <div class="seperate text-right col-6">
            <span
              class="call"
              mat-raised-button
              (click)="contactThisUser(chatUser)"
              *ngIf="chatUser.status == 'online'"
              class="online"
              ><i class="fa fa-phone " aria-hidden="true"></i
            ></span>

            <span *ngIf="chatUser.status == 'offline'" class="offline"
              ><i class="fa fa-phone " aria-hidden="true"></i
            ></span>

            <span
              *ngIf="chatUser.status == 'calling'"
              class="calling"
              (click)="receiveCall(chatUser)"
              ><i class="fa fa-phone " aria-hidden="true"></i
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="dialUser">
    <br />
    <app-dial [user]="contactUser"></app-dial>
  </div>
</main>
