<table class="col-sm-12 mt-3">
  <thead>
    <tr>
      <th class="row m-0">
        <div class="border">Sr.</div>
        <div class="border">Project Name</div>
        <div class="border">Submitted by</div>
        <div class="border">Date</div>
        <div class="border">Details</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of responses; let i = index;" [class.active]="clicked === response" (click)="clicked = response">
      <td class="row m-0" style="position:relative;">
        <div class="border">{{i}}</div>
        <div class="border">{{response.project_name}}</div>
        <div class="border">{{response.project_submitted_by}}</div>
        <div class="border">{{response.project_submition_date}}</div>
        <div class="border">Some more details...</div>
        <div class="border extra-details p-0">
          <div class="border d-inline-block">{{response.project_info.info1}}</div>
          <div class="border d-inline-block">{{response.project_info.info2}}</div>
          <div class="border d-inline-block">{{response.project_info.info3}}</div>
          <div class="border d-inline-block">{{response.project_info.info4}}</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>