<mat-card class="mb-2">
  <label  class="col-sm-12 p-0 mb-3"><strong>1</strong>.&nbsp;Show the R&D facility.</label>
  <button *ngIf="show=='false'" mat-raised-button (click)="addComponent3(facilityQuesId,null,null)">Add Images</button>
  <div #parent3></div>
</mat-card>
<mat-card class="mb-2">
  <label  class="col-sm-12 p-0 mb-3"><strong>2</strong>.&nbsp;Show the products/processes for which patents have been obtained.</label>
  <button *ngIf="show=='false'" mat-raised-button (click)="addComponent4(processQuesId,null,null)">Add Images</button>
  <div #parent4></div>
</mat-card>
<mat-card class="mb-2">
  <label  class="col-sm-12 p-0 mb-3"><strong>3</strong>.&nbsp;Show prototype if any.</label>
  <button *ngIf="show=='false'" mat-raised-button (click)="addComponent5(protoQuesId,null,null)">Add Images</button>
  <div #parent5></div>
</mat-card>