/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
$text-default-color: #fff;
$text-online-color: #73ec7e;
$text-offline-color: #bfbfbf;
$text-calling-color: orange;
$text-black-color: #000;
$default-theme-color: #53bca6;
$active-theme-color: #ffd600;
%box-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

* {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
main {
  padding-top: 113px;
}
.webcam-wrapper {
  height: 350px !important;
  width: 100% !important;
}
.navBar {
  background: $default-theme-color;
  position: fixed;
  width: 100%;
  padding: 0 15px;
  top: 0;
  left: 0;
  z-index: 9999;
}
.mat-tab-label {
  display: flex !important;
  min-width: 33.33% !important;
}
.list-group-item {
  @extend %box-shadow;
}
.seperate {
  width: 50%;
  float: left;
  padding: 0;
}
.list-group {
  margin: 15px 0 0;
}
.list-group.padding15{
  padding: 0 15px;
}
.card {
  margin: 15px 0;
  padding: 15px;
  @extend %box-shadow;
}
.online,
.offline,
.calling {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @extend %box-shadow;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: $text-default-color;
}
.online {
  background: $text-online-color;
}
.offline {
  background: $text-offline-color;
}
.calling {
  background: $text-calling-color;
}
.phone-no {
  line-height: 40px;
}
.navBar a {
  line-height: 40px;
  border-bottom: 2px solid #53bca6;
  transition: 0.5s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #e2dcdc;
}
.navBar a.active:focus {
  background: rgba(0, 0, 0, 0.05);
}
.navBar a.active {
  color: $active-theme-color;
  border-bottom: 2px solid $active-theme-color;
}
.alert-success {
  padding: 15px;
  font-weight: 400;
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 !important;
}
.btn-danger {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  @extend %box-shadow;
}
.conToggle {
  transition: all 0.5s ease-in-out;
  transform: translateY(-500px);
  position: absolute;
  z-index: 9999;
  text-align: right;
  width: 100%;
}
.bodyActive .conToggle {
  transform: translateY(-24px);
}
.btn-danger {
  margin-right: 15px;
}

.OT_publisher,
.OT_subscriber {
  width: 100vw !important;
  // background-color: white !important;
  // display: none;
}

.OT_subscriber:first-child,
.OT_publisher:first-child {
  // display: block;
}

.OT_widget-container {
  // height:10px !important
}
.top-m {
  margin: 15px 0;
}
.OT_publisher,
.OT_subscriber {
  height: 350px !important;
}
.OT_publisher .OT_video-element,
.OT_subscriber .OT_video-element {
  width: 100%;
}
video {
  width: 100%;
  height: 100%;
  background: $text-black-color;
}
.OT_fit-mode-cover .OT_video-element {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}
.webcam-wrapper[_ngcontent-c6] {
  display: block !important;
  height: 350px;
}
.navBar {
  background: $default-theme-color;
}
.email {
  color: $text-default-color;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background: $text-default-color;
  color: $default-theme-color;
  border: transparent;
}
.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: $text-default-color;
  color: $default-theme-color;
  width: 41px;
  height: 41px;
}
.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}
.logout,
.logout:active,
.logout:focus,
.logout:hover,
.admin,
.admin:active,
.admin:focus,
.admin:hover {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: $text-default-color;
  color: $default-theme-color;
  border: transparent;
  @extend %box-shadow;
}
.refresh {
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.login,
.login:active,
.login:focus,
.login:hover,
.refresh,
.refresh:active,
.refresh:focus,
.refresh:hover {
  background: $default-theme-color !important;
  border-color: $default-theme-color !important;
}
.webcam-wrapper[_ngcontent-c9] {
  display: block;
}

vedio {
  height: 350px;
}

.tableContainer {
  margin: 2% 0;
}

.tableContainer {
  overflow-x: auto;
}
.boxContainer {
  margin-top: 15px;
  overflow-x: auto;
  width: 100%;
}
.box1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;

  span {
    display: block;
    margin-bottom: 5px;
  }
}
.onlineBox1,
.offlineBox1 {
  padding: 10px;
  margin-top: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
}
.onlineBox1 {
  text-align: center;
  span {
    &.status {
      width: 100%;
      background: green;
      display: inline-block;
      color: $text-default-color;
    }
    &.time {
      font-weight: 600;
      font-size: 16px;
    }
    &.date {
      font-size: 14px;
    }
  }
}
.offlineBox1 {
  text-align: center;
  span {
    &.status {
      width: 100%;
      background: $text-calling-color;
      display: inline-block;
      color: $text-default-color;
    }
    &.time {
      font-weight: 600;
      font-size: 16px;
    }
    &.date {
      font-size: 14px;
    }
  }
}
.table thead {
  th {
    font-size: 14px;
    background: #f4f4f4;
  }
  td {
    font-size: 12px;
  }
}
.liveAssesmentStrip {
  width: 70%;
  margin: 4% auto;
}
.live-assesment-danger {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  margin-left: 5px;
  margin-bottom: 3px;
}
.session-summary {
  width: 200px;
  height: 200px;
  background: $default-theme-color;
  color: $text-default-color;
  padding: 72px 10px 10px 10px;

  border-radius: 50%;

  border: 2px solid #ccc;
  position: relative;
  text-align: center;
}
.profilePopup {
  margin-top: 10px;
  position: relative;
  .logout {
    position: absolute;
    right: 50px;
    top: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: $text-default-color;
    background: $default-theme-color;
  }
  .cross {
    position: absolute;
    right: 0px;
    top: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: $text-default-color;
    background: $default-theme-color;
  }
  .admin {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    margin: 0 0 10px;
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
@media only screen and (max-width: 600px) {
  .liveAssesmentStrip {
    width: 100%;
  }
  .session-summary {
    margin: 0 auto;
  }
}
/*
angular material css
*/
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  display: block;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $default-theme-color;
}
.mat-flat-button.col:not([class*="mat-elevation-z"]),
.mat-stroked-button.col:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12);
  background: transparent;
  border-radius: 0;
}
