/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

.mat-tab-label {
  display: flex !important;
  min-width: 33.33% !important;
}
.seperate {
  width: 50%;
  float: left;
}
.list-group {
  margin: 15px 0 0;
}
.card {
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.online,
.offline,
.calling {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.online {
  background: #73ec7e;
}
.offline {
  background: #bfbfbf;
}
.calling{
  background: orange;
}
.phone-no {
  line-height: 40px;
}
.navBar a {
  line-height: 40px;
  border-bottom: 2px solid #fff;
  transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.navBar a.active {
  border-bottom: 2px solid #3f51b5;
}
.alert-success {
  padding: 10px;
  font-weight: 400;
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.87);
}
.btn-danger {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.conToggle {
  transition: all 0.5s ease-in-out;
  transform: translateY(-500px);
  position: absolute;
  z-index: 9999;
  text-align: right;
  width: 100%;
}
.bodyActive .conToggle {
  transform: translateY(-20px);
}
.btn-danger {
  margin-right: 15px;
}

.OT_publisher,
.OT_subscriber {
  width: 100vw !important;
  // background-color: white !important;
  // display: none;
}

.OT_subscriber:first-child, .OT_publisher:first-child {
  // display: block;
}

.OT_widget-container {
  // height:10px !important
}
.top-m {
  margin-top: 15px;
}