<div class="row">
  <button class="col-sm-4 rounded-0" mat-stroked-button [routerLink]="['/form']" routerLinkActive="active">Forms</button>
  <button class="col-sm-4 rounded-0" mat-stroked-button [routerLink]="['/chat']" routerLinkActive="active">Chat</button>
  <button class="col-sm-4 rounded-0" mat-stroked-button [routerLink]="['/response']" routerLinkActive="active">Response</button>
  <!-- <button class="col-sm-4 rounded-0" mat-stroked-button [routerLink]="['/graphic']">nav name</button> -->
</div>
<router-outlet></router-outlet>
