<div class="container-fluid navBar text-center">
  <div class="row">
    <div class="col-8 float-left">{{ email }}</div>
    <div class="col-4 float-left text-right">
      <button (click)="logout()" class="btn btn-primary">Logout</button>
    </div>
  </div>
  <div class="row">
    <a [routerLink]="['/form']" class="col" routerLinkActive="active"> Form </a>
    <a [routerLink]="['/chat']" class="col" routerLinkActive="active"> Chat </a>
    <a [routerLink]="['/response']" class="col" routerLinkActive="active">
      Response
    </a>
    <a [routerLink]="['/graphic']" class="col" routerLinkActive="active">
      Graphic
    </a>
  </div>
</div>

<router-outlet></router-outlet>
