<div style="height:70vh">
  <div class="form-group clearfix text-center profilePopup">
    <button mat-fab class="admin">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>

    <p>
      <strong>{{ user_name }}</strong>
    </p>

    <button mat-fab (click)="dismiss()" class="cross pull-right">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <button mat-fab (click)="logout()" class="logout pull-right">
      <i class="fa fa-lock" aria-hidden="true"></i>
    </button>
  </div>
  <hr />
  <form class="example-form">
    <h2 class="change-password text-center">Change Password</h2>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        id="password"
        placeholder="current Password"
        name="password"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        id="pwd"
        placeholder="New Password"
        name="pswd"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" class="login">Change</button>
  </form>
</div>
